packages/components/tests/_backup/conversation/conversation.html

	 <html> 
	 <head> 
	 <title> conversation </title> 
	 <link rel="stylesheet" href="../../dist/tocas.css">  <meta charset="utf-8"> 
	 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	 <script src="../../../dist/tocas.js">  </script> 
	 <script src="../../../dist/accordion.js">  </script> 
	 <style type="text/css"> 
	.ts.panes >  .pane >  .ts.form >  fieldset .ts.button {
		text-align   : left;
		margin-bottom: 8px;
	}
	 </style> 
	 </head> 
	 <body> 
		 <div class="ts horizontal regions"> 
			 <div class="vertically scrollable padded two wide region"> 
				 <div class="ts form"> 
					 <fieldset> 
						 <legend> Core </legend> 
						 <a href="#Typing" class="ts fluid button"> Typing </a>  <a href="#Status" class="ts fluid button"> Status </a>  <a href="#Meta" class="ts fluid button"> Meta </a>  <a href="#Actions" class="ts fluid button"> Actions </a>  <a href="#Reactions" class="ts fluid button"> Reactions </a>  <a href="#Callbacks" class="ts fluid button"> Callbacks </a>  <a href="#Actions+%26+Reactions+%26+Callbacks" class="ts fluid button"> Actions & Reactions & Callbacks </a>  <a href="#Reply" class="ts fluid button"> Reply </a>  <a href="#Preview" class="ts fluid button"> Preview </a>  <a href="#Fullsize+Preview" class="ts fluid button"> Fullsize Preview </a>  <a href="#Double+Message" class="ts fluid button"> Double Message </a>  <a href="#Group" class="ts fluid button"> Group </a>  <a href="#Image" class="ts fluid button"> Image </a>  <a href="#Mention" class="ts fluid button"> Mention </a>  <a href="#Code+Block" class="ts fluid button"> Code Block </a>  <a href="#Video" class="ts fluid button"> Video </a>  <a href="#File" class="ts fluid button"> File </a>  <a href="#Sticker" class="ts fluid button"> Sticker </a> 
					 </fieldset> 
					 <fieldset> 
						 <legend> Module </legend> 
						
					 </fieldset> 
				 </div> 
			 </div> 
			 <div class="stretched vertically scrollable padded region"> 
				 <br>  <br>  <!-- + Typing -->  <h1 id="Typing"> Typing </h1>  <div class="ts conversation">  <div class="typing message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  </div>  </div>  <div class="own typing message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  </div>  </div>  </div>  <br>  <br>  <!-- + Status -->  <h1 id="Status"> Status </h1>  <div class="ts conversation">  <div class="warning message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Warning Message </div>  <div class="meta">  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own warning message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Warning Message </div>  <div class="meta">  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="error message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Error Message </div>  <div class="meta">  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own error message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Error Message </div>  <div class="meta">  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="sending message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Sending Message </div>  <div class="meta">  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own sending message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Sending Message </div>  <div class="meta">  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="sent message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Sent Message </div>  <div class="meta">  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own sent message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Sent Message </div>  <div class="meta">  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="read message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Read Message </div>  <div class="meta">  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own read message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Read Message </div>  <div class="meta">  <div class="item"> Meta </div>  </div>  </div>  </div>  </div>  <br>  <br>  <!-- + Meta -->  <h1 id="Meta"> Meta </h1>  <div class="ts conversation">  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="middoted meta">  <div class="item"> Middoted Meta </div>  <div class="item"> Middoted Meta </div>  </div>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="middoted meta">  <div class="item"> Middoted Meta </div>  <div class="item"> Middoted Meta </div>  </div>  </div>  </div>  </div>  <br>  <br>  <!-- + Actions -->  <h1 id="Actions"> Actions </h1>  <div class="ts conversation">  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  <div class="actions">  <a class="item" href="#!"> Item </a>  <a class="item" href="#!"> Item </a>  <a class="item" href="#!"> Item </a>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  <div class="actions">  <a class="item" href="#!"> Item </a>  <a class="item" href="#!"> Item </a>  <a class="item" href="#!"> Item </a>  </div>  </div>  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  <div class="middoted actions">  <a class="middoted item" href="#!"> Middoted Item </a>  <a class="middoted item" href="#!"> Middoted Item </a>  <a class="middoted item" href="#!"> Middoted Item </a>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  <div class="middoted actions">  <a class="middoted item" href="#!"> Middoted Item </a>  <a class="middoted item" href="#!"> Middoted Item </a>  <a class="middoted item" href="#!"> Middoted Item </a>  </div>  </div>  </div>  <br>  <br>  <!-- + Reactions -->  <h1 id="Reactions"> Reactions </h1>  <div class="ts conversation">  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  <div class="reactions">  <a class="item" href="#!">  <div class="reaction"> 😂 </div>  <div class="count"> 1 </div>  </a>  <a class="item" href="#!">  <div class="reaction"> 👌 </div>  <div class="count"> 3 </div>  </a>  <a class="active item" href="#!">  <div class="reaction"> 💦 </div>  <div class="count"> 19 </div>  </a>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  <div class="reactions">  <a class="item" href="#!">  <div class="reaction"> 😂 </div>  <div class="count"> 1 </div>  </a>  <a class="item" href="#!">  <div class="reaction"> 👌 </div>  <div class="count"> 3 </div>  </a>  <a class="active item" href="#!">  <div class="reaction"> 💦 </div>  <div class="count"> 19 </div>  </a>  </div>  </div>  </div>  <br>  <br>  <!-- + Callbacks -->  <h1 id="Callbacks"> Callbacks </h1>  <div class="ts conversation">  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  <div class="callbacks">  <div class="row">  <a class="item" href="#!"> Item </a>  <a class="item" href="#!"> Item </a>  <a class="item" href="#!"> Item </a>  </div>  <a class="item" href="#!"> Item </a>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  <div class="callbacks">  <div class="row">  <a class="item" href="#!"> Item </a>  <a class="item" href="#!"> Item </a>  <a class="item" href="#!"> Item </a>  </div>  <a class="item" href="#!"> Item </a>  </div>  </div>  </div>  <br>  <br>  <!-- + Actions & Reactions & Callbacks -->  <h1 id="Actions+%26+Reactions+%26+Callbacks"> Actions & Reactions & Callbacks </h1>  <div class="ts conversation">  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  <div class="reactions">  <a class="item" href="#!">  <div class="reaction"> 😂 </div>  <div class="count"> 1 </div>  </a>  <a class="item" href="#!">  <div class="reaction"> 👌 </div>  <div class="count"> 3 </div>  </a>  <a class="active item" href="#!">  <div class="reaction"> 💦 </div>  <div class="count"> 19 </div>  </a>  </div>  <div class="callbacks">  <div class="row">  <a class="item" href="#!"> Item </a>  <a class="item" href="#!"> Item </a>  <a class="item" href="#!"> Item </a>  </div>  <a class="item" href="#!"> Item </a>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  <div class="reactions">  <a class="item" href="#!">  <div class="reaction"> 😂 </div>  <div class="count"> 1 </div>  </a>  <a class="item" href="#!">  <div class="reaction"> 👌 </div>  <div class="count"> 3 </div>  </a>  <a class="active item" href="#!">  <div class="reaction"> 💦 </div>  <div class="count"> 19 </div>  </a>  </div>  <div class="callbacks">  <div class="row">  <a class="item" href="#!"> Item </a>  <a class="item" href="#!"> Item </a>  <a class="item" href="#!"> Item </a>  </div>  <a class="item" href="#!"> Item </a>  </div>  </div>  </div>  <br>  <br>  <!-- + Reply -->  <h1 id="Reply"> Reply </h1>  <div class="ts conversation">  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="reply">  <div class="author"> Reply Author </div>  <div class="text"> Reply Message </div>  </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="reply">  <div class="author"> Reply Author </div>  <div class="text"> Reply Message </div>  </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  </div>  <br>  <br>  <!-- + Preview -->  <h1 id="Preview"> Preview </h1>  <div class="ts conversation">  <div class="message">   <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="preview">  <div class="image">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="title"> Title </div>  <div class="header"> Header </div>  <div class="description"> Description </div>  </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="preview">  <div class="image">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="title"> Title </div>  <div class="header"> Header </div>  <div class="description"> Description </div>  </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  </div>  <br>  <br>  <!-- + Fullsize Preview -->  <h1 id="Fullsize+Preview"> Fullsize Preview </h1>  <div class="ts conversation">  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="preview">  <div class="title"> Title </div>  <div class="header"> Header </div>  <div class="description"> Description </div>  <div class="image">  <img src="../../../assets/images/1-1.png"/>  </div>  </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="preview">  <div class="title"> Title </div>  <div class="header"> Header </div>  <div class="description"> Description </div>  <div class="image">  <img src="../../../assets/images/1-1.png"/>  </div>  </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  </div>  <br>  <br>  <!-- + Double Message -->  <h1 id="Double+Message"> Double Message </h1>  <div class="ts conversation">  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  </div>  <br>  <br>  <!-- + Group -->  <h1 id="Group"> Group </h1>  <div class="ts conversation">  <div class="group">  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  </div>  <div class="own group">  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  </div>  </div>  <br>  <br>  <!-- + Image -->  <h1 id="Image"> Image </h1>  <div class="ts conversation">  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="reply">  <div class="author"> Reply Author </div>  <div class="text"> Reply Message </div>  </div>  <div class="image">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="reply">  <div class="author"> Reply Author </div>  <div class="text"> Reply Message </div>  </div>  <div class="image">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  </div>  <br>  <br>  <!-- + Mention -->  <h1 id="Mention"> Mention </h1>  <div class="ts conversation">  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message <a class="mention" href="#!"> @Mention </a> Message <br/> New line message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message <a class="mention" href="#!"> @Mention </a> Message <br/> New line message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  </div>  <br>  <br>  <!-- + Code Block -->  <h1 id="Code+Block"> Code Block </h1>  <div class="ts conversation">  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message <pre class="code">  <code> // You can edit this code!
// Click here and start typing.
package main

import "fmt"

func main() {
    fmt.Println("Hello, 世界")
} </code>  </pre> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message <pre class="code">  <code> // You can edit this code!
// Click here and start typing.
package main

import "fmt"

func main() {
    fmt.Println("Hello, 世界")
} </code>  </pre> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  </div>  <div class="ts conversation">  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text">  <pre class="code">  <code> // You can edit this code!
// Click here and start typing.
package main

import "fmt"

func main() {
    fmt.Println("Hello, 世界")
} </code>  </pre>  </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text">  <pre class="code">  <code> // You can edit this code!
// Click here and start typing.
package main

import "fmt"

func main() {
    fmt.Println("Hello, 世界")
} </code>  </pre>  </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  </div>  <br>  <br>  <!-- + Video -->  <h1 id="Video"> Video </h1>  <div class="ts conversation">  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <video src="https://www.coverr.co/s3/mp4/Down-time.mp4" controls="">  </video>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <video src="https://www.coverr.co/s3/mp4/Down-time.mp4" controls="">  </video>  <div class="text"> Message </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  </div>  <br>  <br>  <!-- + File -->  <h1 id="File"> File </h1>  <div class="ts conversation">  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="file">  <a class="download" href="#!">  </a>  <div class="name"> Filename.pdf </div>  <div class="size"> 32.6 MB </div>  </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="file">  <a class="download" href="#!">  </a>  <div class="name"> Filename.pdf </div>  <div class="size"> 32.6 MB </div>  </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  </div>  <br>  <br>  <!-- + Sticker -->  <h1 id="Sticker"> Sticker </h1>  <div class="ts conversation">  <div class="message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="sticker">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  <div class="own message">  <div class="avatar">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="content">  <div class="author"> Author </div>  <div class="text"> Message </div>  <div class="sticker">  <img src="../../../assets/images/1-1.png"/>  </div>  <div class="meta">  <div class="item"> Meta </div>  <div class="item"> Meta </div>  </div>  </div>  </div>  </div> 
			 </div> 
		 </div> 

	 </body> 
	 </html> 

packages/components/tests/_backup/conversation/conversation.pug
// + Typing
.ts.conversation
    .typing.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
    .own.typing.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content

// + Status
.ts.conversation
    .warning.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Warning Message
            .meta
                .item Meta
    .own.warning.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Warning Message
            .meta
                .item Meta
    .error.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Error Message
            .meta
                .item Meta
    .own.error.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Error Message
            .meta
                .item Meta
    .sending.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Sending Message
            .meta
                .item Meta
    .own.sending.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Sending Message
            .meta
                .item Meta
    .sent.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Sent Message
            .meta
                .item Meta
    .own.sent.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Sent Message
            .meta
                .item Meta
    .read.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Read Message
            .meta
                .item Meta
    .own.read.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Read Message
            .meta
                .item Meta

// + Meta
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .middoted.meta
                .item Middoted Meta
                .item Middoted Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .middoted.meta
                .item Middoted Meta
                .item Middoted Meta

// + Actions
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .actions
            a.item Item
            a.item Item
            a.item Item
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .actions
            a.item Item
            a.item Item
            a.item Item
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .middoted.actions
            a.middoted.item Middoted Item
            a.middoted.item Middoted Item
            a.middoted.item Middoted Item
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .middoted.actions
            a.middoted.item Middoted Item
            a.middoted.item Middoted Item
            a.middoted.item Middoted Item

// + Reactions
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .reactions
            a.item
                .reaction 😂
                .count 1
            a.item
                .reaction 👌
                .count 3
            a.active.item
                .reaction 💦
                .count 19
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .reactions
            a.item
                .reaction 😂
                .count 1
            a.item
                .reaction 👌
                .count 3
            a.active.item
                .reaction 💦
                .count 19

// + Callbacks
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .callbacks
            .row
                a.item Item
                a.item Item
                a.item Item
            a.item Item
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .callbacks
            .row
                a.item Item
                a.item Item
                a.item Item
            a.item Item

// + Actions & Reactions & Callbacks
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .reactions
            a.item
                .reaction 😂
                .count 1
            a.item
                .reaction 👌
                .count 3
            a.active.item
                .reaction 💦
                .count 19
        .callbacks
            .row
                a.item Item
                a.item Item
                a.item Item
            a.item Item
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
        .reactions
            a.item
                .reaction 😂
                .count 1
            a.item
                .reaction 👌
                .count 3
            a.active.item
                .reaction 💦
                .count 19
        .callbacks
            .row
                a.item Item
                a.item Item
                a.item Item
            a.item Item

// + Reply
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .reply
                .author Reply Author
                .text Reply Message
            .text Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .reply
                .author Reply Author
                .text Reply Message
            .text Message
            .meta
                .item Meta
                .item Meta

// + Preview
.ts.conversation
    .message 
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .preview
                .image
                    img(src="../../../assets/images/1-1.png")
                .title Title
                .header Header
                .description Description
            .text Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .preview
                .image
                    img(src="../../../assets/images/1-1.png")
                .title Title
                .header Header
                .description Description
            .text Message
            .meta
                .item Meta
                .item Meta

// + Fullsize Preview
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .preview
                .title Title
                .header Header
                .description Description
                .image
                    img(src="../../../assets/images/1-1.png")
            .text Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .preview
                .title Title
                .header Header
                .description Description
                .image
                    img(src="../../../assets/images/1-1.png")
            .text Message
            .meta
                .item Meta
                .item Meta

// + Double Message
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .meta
                .item Meta
                .item Meta

// + Group
.ts.conversation
    .group
        .message
            .avatar
                img(src="../../../assets/images/1-1.png")
            .content
                .author Author
                .text Message
                .meta
                    .item Meta
                    .item Meta
        .message
            .avatar
                img(src="../../../assets/images/1-1.png")
            .content
                .author Author
                .text Message
                .meta
                    .item Meta
                    .item Meta
    .own.group
        .message
            .avatar
                img(src="../../../assets/images/1-1.png")
            .content
                .author Author
                .text Message
                .meta
                    .item Meta
                    .item Meta
        .message
            .avatar
                img(src="../../../assets/images/1-1.png")
            .content
                .author Author
                .text Message
                .meta
                    .item Meta
                    .item Meta

// + Image
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .reply
                .author Reply Author
                .text Reply Message
            .image
                img(src="../../../assets/images/1-1.png")
            .text Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .reply
                .author Reply Author
                .text Reply Message
            .image
                img(src="../../../assets/images/1-1.png")
            .text Message
            .meta
                .item Meta
                .item Meta

// + Mention
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text
                | Message
                a.mention @Mention
                | Message
                br
                | New line message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text
                | Message
                a.mention @Mention
                | Message
                br
                | New line message
            .meta
                .item Meta
                .item Meta

// + Code Block
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text
                | Message
                pre.code
                    code.
                        // You can edit this code!
                        // Click here and start typing.
                        package main

                        import "fmt"

                        func main() {
                            fmt.Println("Hello, 世界")
                        }
                | Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text
                | Message
                pre.code
                    code.
                        // You can edit this code!
                        // Click here and start typing.
                        package main

                        import "fmt"

                        func main() {
                            fmt.Println("Hello, 世界")
                        }
                | Message
            .meta
                .item Meta
                .item Meta
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text
                pre.code
                    code.
                        // You can edit this code!
                        // Click here and start typing.
                        package main

                        import "fmt"

                        func main() {
                            fmt.Println("Hello, 世界")
                        }
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text
                pre.code
                    code.
                        // You can edit this code!
                        // Click here and start typing.
                        package main

                        import "fmt"

                        func main() {
                            fmt.Println("Hello, 世界")
                        }
            .meta
                .item Meta
                .item Meta

// + Video
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            video(src="https://www.coverr.co/s3/mp4/Down-time.mp4" controls="")
            .text Message
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            video(src="https://www.coverr.co/s3/mp4/Down-time.mp4" controls="")
            .text Message
            .meta
                .item Meta
                .item Meta

// + File
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .file
                a.download
                .name Filename.pdf
                .size 32.6 MB
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .file
                a.download
                .name Filename.pdf
                .size 32.6 MB
            .meta
                .item Meta
                .item Meta

// + Sticker
.ts.conversation
    .message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .sticker
                img(src="../../../assets/images/1-1.png")
            .meta
                .item Meta
                .item Meta
    .own.message
        .avatar
            img(src="../../../assets/images/1-1.png")
        .content
            .author Author
            .text Message
            .sticker
                img(src="../../../assets/images/1-1.png")
            .meta
                .item Meta
                .item Meta
